
main .alert{
    position: absolute;
    z-index: 999;
}

.dashboardInicio {
    border-radius: 10px;
}

footer{
    position: fixed;
    width: 100%;
    max-height: 30px;
    padding: 4px 1%;
    bottom:0;
}

footer div.suporte i{
    color: rgb(103, 196, 115);
}

.suporte a{
    text-decoration: none;
    color: #fff;
}

.copyright, .suporte, .marca{
    display: inline-block;
    width: 33%;
    color:#fff;
}

.copyright{
    font-size: 12px;
}

.suporte{
    text-align: center;
    font-size: 14px;
}

.marca{
    text-align: right;
    font-size: 14px;
}

.configPag{
    padding-top: 100px;
    padding-bottom: 70px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.empurra {
    width: 100%;
    height: 50px;
    clear: both;
}